/* Цвет основного текста (черный) #212121 */
/* Цвет вторичный цвет текста (серый) #757575 */
/* Цвет акцента (синий) #2196F3
/* Белый цвет текста #FFFFFF */
/* Цвет футера rgba(255, 255, 255, 0.6); */
/* Цвет фона основной #fff */
/* Цвет фона вторичный #F5F4FA */
/* Цвет фона заголовка и футера #2F303A */

:root {
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-background: #f5f4fa;
  --white-color: #fff;
  --primary-text-color: #212121;
  --color-footer: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.accent {
  color: #000000;
}

/* site nav */

.site-nav.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  text-decoration: none;

  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);

  text-decoration: none;
}

/* auth-nav */

.auth-nav .contact {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--background-footer);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.primary {
  color: #212121;
  background-color: var(--secondary-background);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Секция почему мы */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* section team */

.team {
  background-color: var(--secondary-background);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.text-team {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* footer */

.foot {
  background-color: var(--background-footer);
}

.accent-footer {
  color: var(--white-color);
}

.address .adr {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.address .adr:hover,
.address .adr:focus {
  color: var(--accent-color);
}

.address .footcont {
  color: var(--color-footer);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.address .footcont:hover,
.address .footcont:focus {
  color: var(--accent-color);
}
